---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import directus, { readItems } from '../lib/directus.ts';
import type { Category, Place } from '../lib/directus.ts';
import PlaceCard from '../components/PlaceCard.astro';
import RegionFilter from '../components/RegionFilter.tsx';

Astro.response.headers.set('Cache-Control', 'public, s-maxage=300, stale-while-revalidate=3600');

interface AdminRegion { id: string; name: string; slug: string; color: string; }
interface Department { id: string; name: string; slug: string; color: string; administrative_region: string; }
interface TownItem { id: string; name: string; slug: string; department: string; }

const [categories, wineRegions, adminRegions, departments, towns, places] = await Promise.all([
  directus.request(
    readItems('categories_vg', {
      fields: ['id', 'name', 'slug', 'color'],
      sort: ['name'],
    })
  ) as Promise<Category[]>,
  directus.request(readItems('wine_regions', { fields: ['id', 'region', 'slug', 'color'], sort: ['region'] })) as unknown as Promise<{ id: string; region: string; slug: string; color: string }[]>,
  directus.request(readItems('administrative_regions', { fields: ['id', 'name', 'slug', 'color'], sort: ['name'] })) as unknown as Promise<AdminRegion[]>,
  directus.request(readItems('departments', { fields: ['id', 'name', 'slug', 'color', 'administrative_region'], sort: ['name'] })) as unknown as Promise<Department[]>,
  directus.request(readItems('towns', { fields: ['id', 'name', 'slug', 'department'], sort: ['name'] })) as unknown as Promise<TownItem[]>,
  directus.request(
    readItems('places_vg', {
      fields: [
        'id', 'Name', 'slug', 'status',
        'address', 'postal_code', 'website', 'phone', 'logo',
        { category: ['id', 'name', 'slug', 'color'] },
        { wine_region: ['region', 'slug', 'color'] },
        { town: ['id', 'name', 'slug', { department: ['id', 'name', 'slug', 'color', { administrative_region: ['id', 'name', 'slug', 'color'] }] }] },
      ] as const,
      filter: { status: { _eq: 'published' } },
      sort: ['Name'],
      limit: -1,
    })
  ) as unknown as Promise<Place[]>,
]);
---


<Layout
  title="French Wine Directory | Vina Gallica"
  description="Browse the complete directory of French wine estates, cellars, and shops by wine region, department, and category."
  headline="French Wine Directory"
  headlineStyle="light"
  canonical={new URL('/directory', Astro.site).href}
>
  <main class="directory">
    <a href="/map" class="directory-map-link" aria-label="Map">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 207.168990233029945 52.981824910502837">
        <g>
          <path fill="#fff" d="M8.168990233029945,47.475912455251091h-3c0-14,4-29,3-43,40,1,79-1,119,1,26,0,52,1,78-1,2,14,1,29,2,43,0,1-2,2-3,2-19,1-39-1-58,1-46,2-92-3-138-3h0Z"/>
          <path fill="none" stroke="#231f20" stroke-width="1.50242491050342" d="M199.191212455251843,51.956212455250352c-65.339999999999236.980000000001382-130.679999999999382-.979999999999563-196.019999999999527-.979999999999563-.990000000000691,0-1.980000000000473-.979999999999563-1.980000000000473-1.959999999999127C1.191212455251843,34.316212455250934.201212455252062,18.636212455250643,1.191212455251843,3.936212455251734c0-.980000000001382,1.980000000000473-2.940000000000509,3.960000000000036-2.940000000000509C43.761212455252462.996212455251225,81.381212455252353.016212455251662,119.991212455252025,1.976212455250788c26.730000000000473,0,52.470000000000255.979999999999563,79.199999999999818-.979999999999563,1.980000000000473,0,2.970000000000255,1.959999999999127,3.960000000000036,2.940000000000509,1.980000000000473,15.679999999998472,0,30.3799999999992,0,45.079999999999927,0,.979999999999563-1.979999999999563,1.959999999999127-3.960000000000036,2.93999999999869h0Z"/>
        </g>
        <path fill="#292529" d="M84.979515892363452,19.493490580251091l5.158203125,11.4794921875,4.8544921875-11.4287109375h3.8173828125v1.01171875l-1.390625.1513671875.455078125,13.85546875,1.6689453125.025390625v.9609375h-6.6494140625v-.7841796875l2.5537109375-.6064453125-.3291015625-11.65625-5.2333984375,12.4658203125h-.556640625l-5.2841796875-11.681640625-.2529296875,10.9482421875,3.1611328125.328125v.986328125h-5.9677734375v-.7841796875l1.3662109375-.859375.4794921875-12.818359375-.6572265625-1.2392578125.025390625-.3544921875h2.78125Z"/>
        <path fill="#292529" d="M106.167015892363452,23.362631205251091c3.26171875,0,4.626953125,1.1630859375,4.626953125,4.146484375v4.3232421875c0,1.9970703125.3291015625,2.6552734375.884765625,2.6552734375.3544921875,0,.53125-.126953125.7080078125-.2783203125l.2021484375.859375c-.2021484375.2275390625-.859375.7333984375-1.8955078125.7333984375-1.0625,0-1.7197265625-.6318359375-1.998046875-1.97265625-.6318359375,1.11328125-1.896484375,1.998046875-3.69140625,1.998046875-2.0732421875,0-3.7421875-1.1630859375-3.7421875-3.4638671875,0-1.1123046875.53125-2.0478515625,1.1376953125-2.5283203125l6.068359375-.884765625v-1.947265625c0-1.87109375-.9853515625-2.6298828125-2.4775390625-2.6298828125-1.1630859375,0-2.1494140625.6572265625-2.1494140625,1.7451171875,0,.505859375.1513671875.80859375.3037109375.9609375l-1.6689453125.328125c-.48046875-.1005859375-.9609375-.5302734375-.9609375-1.2890625,0-1.7705078125,2.224609375-2.755859375,4.65234375-2.755859375ZM108.467797142363452,30.012045267751091l-4.3486328125.6826171875c-.404296875.48046875-.53125,1.0615234375-.53125,1.6689453125,0,1.390625.859375,2.173828125,2.1748046875,2.173828125,1.1376953125,0,2.705078125-.935546875,2.705078125-3.4638671875v-1.0615234375Z"/>
        <path fill="#292529" d="M120.907250267363452,23.413412455251091c2.9326171875,0,4.9052734375,1.9462890625,4.9052734375,5.814453125,0,4.8798828125-2.857421875,6.625-5.61328125,6.625-1.2646484375,0-2.25-.2783203125-2.6044921875-.455078125h-.0751953125v4.6767578125h2.603515625v.986328125h-6.294921875v-.783203125l1.3896484375-.505859375v-14.96875l-1.263671875-.1005859375v-1.037109375h3.58984375v1.3154296875l.076171875.025390625c.58203125-.3798828125,2.5283203125-1.416015625,3.287109375-1.5927734375ZM120.325219017363452,24.803060892751091c-.884765625,0-2.78125,1.2392578125-2.78125,1.2392578125v8.29296875c0,.05078125.8603515625.4296875,2.1748046875.4296875,2.0478515625,0,3.69140625-1.5419921875,3.69140625-5.107421875,0-3.3369140625-1.365234375-4.8544921875-3.0849609375-4.8544921875Z"/>
      </svg>
    </a>
    <svg id="flower" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.37099375 63.37261089">
  <g data-name="flower">
    <path d="M26.80293952 39.96332997c-.71302396 1.1803327-1.59426178 2.28516902-2.6531557 3.26146112-6.0481942 5.61443027-15.50097154 5.2585186-21.1154739-.78962816-.33323732-.36477348-.65457787-.73737698-.94058867-1.13323329.25214344-.1828989.52821312-.43228248.8105754-.76206855 11.22562281-12.8990948 16.40599614 1.8914751 21.11345287.79943177 1.1056671-.26213766 2.03022684-.73523072 2.78519-1.37596289"/>
    <path fill="#231f20" d="M10.63413391 48.37227222c-3.32270716-.68498428-6.34354541-2.37961786-8.69912988-4.91675649-.4483313-.4902667-.7717104-.88049039-1.05657548-1.2737424L0 40.96768962l1.21332444-.87958218c.17820995-.12927839.36812236-.31048613.55171334-.52390709 8.58210268-9.86242476 14.6876472-4.81926634 18.33501767-1.80593371 1.37063954 1.13358384 2.78961514 2.30355538 3.57834011 2.11966143.83343088-.19761097 1.55997167-.55386001 2.15245775-1.05789507l7.0151872-5.96174125-4.75936862 7.8800541c-.81127799 1.34285793-1.79307348 2.5503549-2.91952412 3.5889357-3.21472943 2.98465997-7.4050571 4.53977327-11.79331476 4.37546837-.93001936-.0351814-1.84637484-.1463167-2.7396991-.3304777M4.1328271 41.4133647c.00333286.00317982.00561069.0066407.00894355.00982052 2.43465648 2.62273783 5.75509281 4.14581336 9.34362457 4.28135667 3.26819173.1223506 6.40077795-.92094298 8.92174123-2.953811-1.45228846-.39411715-2.80778223-1.51410913-4.21768627-2.6797178-3.83758939-3.16920718-7.46140322-6.16621692-14.05662308 1.3423516"/>
    <path fill="#f7941d" d="M26.80293952 39.96332997c-.71302396 1.1803327-1.59426178 2.28516902-2.6531557 3.26146112-6.0481942 5.61443027-15.50097154 5.2585186-21.1154739-.78962816-.33323732-.36477348-.65457787-.73737698-.94058867-1.13323329.25214344-.1828989.52821312-.43228248.8105754-.76206855 11.22562281-12.8990948 16.40599614 1.8914751 21.11345287.79943177 1.1056671-.26213766 2.03022684-.73523072 2.78519-1.37596289" opacity=".75"/>
    <path fill="#231f20" d="M30.70800936 36.433842c-3.7215468-.76720606-6.30960327-3.52127747-5.76983802-6.13955924.53976524-2.61828176 4.0061356-4.1247167 7.7276824-3.35751064s6.30950468 3.52175569 5.76973943 6.14003745c-.53976524 2.61828177-4.00603702 4.12423848-7.72758381 3.35703242m1.9073677-9.2522187c-3.58668734-.73940444-6.9203909.67971382-7.43235453 3.16313614s1.98877615 5.10482692 5.5754635 5.84423136 6.92029231-.67923558 7.43225595-3.1626579-1.98867757-5.10530515-5.57536492-5.8447096"/>
    <path d="M34.08687348 40.9923227c.33043718 1.33880534.4885452 2.74317182.43013689 4.18226565-.30671743 8.24672086-7.24250794 14.67917625-15.48924622 14.37254337-.49356816-.02229944-.9842607-.05854782-1.46641356-.13622032.04896328-.3076214.0678332-.67917296.03429951-1.1120272-1.18332339-17.05875143 12.938266-10.26331625 15.49474933-14.36418208.59646539-.96718401.91570054-1.9554738.99647405-2.94237943"/>
    <path fill="#231f20" d="m15.84779278 60.65346498.23241827-1.4756521c.03443484-.22023952.04097366-.48411958.01993287-.76415478-.904776-13.04260453 6.9773809-13.7927658 11.68728-14.2406789 1.7697113-.16861707 3.60035874-.34261976 4.02961245-1.03186447.44920962-.72800596.71095504-1.49465813.77434161-2.27129243l.75099072-9.16156632 2.2004391 8.92447178c.37605892 1.52281899.53449318 3.07106952.47306317 4.60241178-.16293938 4.38405222-2.02632757 8.44597-5.24557292 11.43318887-3.21904817 2.9862624-7.40927726 4.54089748-11.79878712 4.37783008-.45541576-.02059838-1.04231836-.05633792-1.6492491-.15453655zm17.1010659-14.58187227c-1.30581772.74784239-3.05617342.91446707-4.87666483 1.08757216-4.95509305.47164956-9.6356777.91762911-8.99007716 10.88858841.0039244.00031048.00880523.00081812.0128282.00065037 3.57705436.13317721 7.00286716-1.13782831 9.63503116-3.57951544 2.39683646-2.22397533 3.87417211-5.17743656 4.21888263-8.3972955"/>
    <path fill="#f7941d" d="M34.08687348 40.9923227c.33043718 1.33880534.4885452 2.74317182.43013689 4.18226565-.30671743 8.24672086-7.24250794 14.67917625-15.48924622 14.37254337-.49356816-.02229944-.9842607-.05854782-1.46641356-.13622032.04896328-.3076214.0678332-.67917296.03429951-1.1120272-1.18332339-17.05875143 12.938266-10.26331625 15.49474933-14.36418208.59646539-.96718401.91570054-1.9554738.99647405-2.94237943" opacity=".75"/>
    <path fill="#231f20" d="M28.50647493 37.11069934c-1.0913094-.22497612-2.00652507-.77210681-2.57608024-1.63684695-1.4690008-2.23321981-.08304804-5.7494368 3.0906715-7.83868177 3.1758296-2.08980706 6.95138992-1.97154484 8.42240221.2615911 1.4690008 2.23321981.08304804 5.7494368-3.09067148 7.83868177-1.94501088 1.28013839-4.11706046 1.73174738-5.84632199 1.37525585m6.3083559-10.6103507c-1.66135358-.34249215-3.76574245.10013202-5.65537934 1.34382519-3.05931353 2.01312024-4.41428048 5.37419516-3.01929432 7.49244688 1.39307326 2.11785737 5.01705098 2.20237771 8.07425444.18981957 3.05931353-2.01312024 4.41332402-5.37439234 3.01929431-7.49244688-.5321535-.80916899-1.39069138-1.32168216-2.41887509-1.53364477"/>
    <path d="M39.9650003 36.56941133c1.18033272.71302396 2.28516903 1.59426178 3.26146112 2.6531557 5.61443027 6.0481942 5.2585186 15.50097154-.78962816 21.1154739-.36477347.33323732-.73737697.65457787-1.13323328.94058867-.1828989-.25214344-.43228249-.52821312-.76206856-.8105754-12.8990948-11.22562281 1.89147512-16.40599614.79943178-21.11345287-.26213766-1.1056671-.73523072-2.03022684-1.3759629-2.78519"/>
    <path fill="#231f20" d="m40.96749245 63.37261089-.879385-1.2142809c-.08909125-.12405876-.25302405-.32038088-.522571-.55093934-9.86260724-8.58363595-4.81916776-14.68812544-1.80487869-18.33529873 1.13205058-1.37045707 2.30258422-2.7873226 2.11966143-3.5783401-.19818778-.83305125-.55481646-1.56016885-1.05865434-2.15361138l-5.95420295-7.01064187 7.87279686 4.75587833c1.34152183.810504 2.54892022 1.79277771 3.5888371 2.92000234 2.98456139 3.21520766 4.53977327 7.4050571 4.37489156 11.7936944-.16468453 4.38768084-2.0281713 8.45007685-5.24665738 11.43844934-.49382615.45108734-.88452807.77436786-1.27479743 1.05685653zm1.78457453-22.40731892c-.39411715 1.45228846-1.51410913 2.80778223-2.67923957 4.21778486-3.17006505 3.83691399-6.16488084 7.4621772 1.34187338 14.0565245.00365804-.00323428.0072175-.00599033.01087555-.0092246 2.62273783-2.43465649 4.14601054-5.75604927 4.28040022-9.34382176.12225202-3.2677135-.92104157-6.40029971-2.95390958-8.921263"/>
    <path fill="#f7941d" d="M39.9650003 36.56941133c1.18033272.71302396 2.28516903 1.59426178 3.26146112 2.6531557 5.61443027 6.0481942 5.2585186 15.50097154-.78962816 21.1154739-.36477347.33323732-.73737697.65457787-1.13323328.94058867-.1828989-.25214344-.43228249-.52821312-.76206856-.8105754-12.8990948-11.22562281 1.89147512-16.40599614.79943178-21.11345287-.26213766-1.1056671-.73523072-2.03022684-1.3759629-2.78519" opacity=".75"/>
    <path fill="#231f20" d="M30.29561885 38.43425708c-2.61875999-.53986383-4.12461811-4.00661383-3.35751065-7.7276824.76720606-3.7215468 3.52137606-6.31008149 6.14013605-5.77021765s4.1246181 4.00661383 3.35741206 7.72816062c-.76710747 3.72106857-3.52127747 6.30960327-6.14003746 5.76973943m2.73214872-13.25304886c-2.48390054-.51206223-5.10540373 1.98915579-5.84480818 5.57584314-.73930585 3.58620912.6792356 6.9202923 3.16313614 7.43235453s5.10540373-1.98915579 5.84470959-5.57536491c.73940444-3.58668735-.679137-6.92077054-3.16303755-7.43283276"/>
    <path d="M40.99399303 29.28547737c1.33880534-.33043718 2.74317183-.4885452 4.18226566-.43013689 8.24672086.30671743 14.67917625 7.24250794 14.37254336 15.48924622-.02229943.49356816-.05854781.9842607-.13622031 1.46641356-.3076214-.04896328-.67917296-.0678332-1.1120272-.03429951-17.05875143 1.18332339-10.26331626-12.938266-14.36418208-15.49474933-.96718401-.59646539-1.9554738-.91570054-2.94237943-.99647405"/>
    <path fill="#231f20" d="M52.5199146 46.98081057c-7.40780352-1.52663842-7.97782752-7.53051816-8.34540214-11.39676252-.16861707-1.7697113-.34271835-3.5998805-1.03186447-4.02961245-.72896241-.44940679-1.49465813-.71095504-2.27129242-.77434161l-9.15841593-.74934415 8.9212228-2.20160745c1.52224217-.37567927 3.07068988-.53506998 4.6023132-.47258494 4.38261753.16264362 8.4465468 2.02594793 11.43318886 5.24557292 2.98674063 3.21914676 4.54089747 7.40927726 4.37792867 11.7983089-.02940186.66498567-.07662626 1.1697528-.15338293 1.64848981l-.2380878 1.47897026-1.47898497-.2355981c-.21812943-.03499693-.48095446-.0418168-.76061002-.0201992-2.33667556.1619153-4.28021241.04193347-5.89661284-.29129147M46.07312598 30.4226133c.74784239 1.30581771.91446707 3.05617341 1.08747357 4.87714305.47212779 4.95519163.9208781 9.63684604 10.88858842 8.99007715.0007887-.0038258.00062094-.00784877.0004532-.01187174.13337438-3.57801082-1.13763114-7.00382361-3.57941686-9.63550939-2.22397533-2.39683646-5.17992628-3.87418682-8.39709833-4.21983907"/>
    <path fill="#f7941d" d="M40.99399303 29.28547737c1.33880534-.33043718 2.74317183-.4885452 4.18226566-.43013689 8.24672086.30671743 14.67917625 7.24250794 14.37254336 15.48924622-.02229943.49356816-.05854781.9842607-.13622031 1.46641356-.3076214-.04896328-.67917296-.0678332-1.1120272-.03429951-17.05875143 1.18332339-10.26331626-12.938266-14.36418208-15.49474933-.96718401-.59646539-1.9554738-.91570054-2.94237943-.99647405" opacity=".75"/>
    <path fill="#231f20" d="M32.46235197 37.92621315c-1.72830508-.35629435-3.54465183-1.63012109-4.82479022-3.57513196-2.0896246-3.17429634-1.97192449-6.95196674.26053605-8.42212117 2.2346692-1.47119476 5.7514483-.08313192 7.83916 3.09077007 2.08866815 3.17409917 1.97096803 6.95176957-.2614925 8.421924-.8650212.56850013-1.92114748.70973236-3.01341333.48455906M28.0364831 26.13796322c-2.119011 1.39383254-2.20381239 5.01675522-.19011533 8.07568911 2.01379564 3.05845567 5.37506774 4.41246616 7.4910122 3.01899856 2.119011-1.39383254 2.2038124-5.01675522.19011534-8.07568912-2.0128392-3.05825849-5.37516633-4.41198793-7.49101221-3.01899855"/>
    <path d="M36.57108167 23.40735054c.71302396-1.1803327 1.59426178-2.28516902 2.6531557-3.26146111 6.0481942-5.61443027 15.50097154-5.2585186 21.1154739.78962816.33323731.36477347.65457787.73737697.94058867 1.13323328-.25214344.1828989-.52821312.43228249-.8105754.76206856-11.22562282 12.8990948-16.40599614-1.89147512-21.11345287-.79943178-1.1056671.26213766-2.03022685.73523072-2.78519 1.3759629"/>
    <path fill="#231f20" d="m30.53971344 30.49333608 4.74747777-7.86106783c.81127799-1.34285792 1.79307348-2.5503549 2.91952411-3.58893568 6.64079721-6.16256281 17.06385694-5.77270416 23.23224233.87128758.3091294.33842829.6988597.77922306 1.05713758 1.27585248l.87489852 1.21186034-1.20930147.87941442c-.181868.13251267-.3678266.30905146-.55286696.52466636-8.58210268 9.86242477-14.68669076 4.81946352-18.33501768 1.80593372-1.37073812-1.13310561-2.79096594-2.30183965-3.5783401-2.11966143-.83227726.1968517-1.55891663.55357896-2.15361137 1.05865435zm10.42796966-9.8732557c1.45218987.39459539 2.80768364 1.51458737 4.21768627 2.6797178 3.83462145 3.1690939 7.4615018 6.1657387 14.05576522-1.343027-.00323428-.00365804-.00656714-.00683786-.00980142-.01049591-4.81545446-5.187509-12.82524315-5.70454775-18.26365007-1.32619488"/>
    <path fill="#f7941d" d="M36.57108167 23.40735054c.71302396-1.1803327 1.59426178-2.28516902 2.6531557-3.26146111 6.0481942-5.61443027 15.50097154-5.2585186 21.1154739.78962816.33323731.36477347.65457787.73737697.94058867 1.13323328-.25214344.1828989-.52821312.43228249-.8105754.76206856-11.22562282 12.8990948-16.40599614-1.89147512-21.11345287-.79943178-1.1056671.26213766-2.03022685.73523072-2.78519 1.3759629" opacity=".75"/>
    <path fill="#231f20" d="M30.70800936 36.433842c-3.7215468-.76720606-6.30960327-3.52127747-5.76983802-6.13955924.53976524-2.61828176 4.0061356-4.1247167 7.7276824-3.35751064s6.30950468 3.52175569 5.76973943 6.14003745c-.53976524 2.61828177-4.00603702 4.12423848-7.72758381 3.35703242m1.9073677-9.2522187c-3.58668734-.73940444-6.9203909.67971382-7.43235453 3.16313614s1.98877615 5.10482692 5.5754635 5.84423136 6.92029231-.67923558 7.43225595-3.1626579-1.98867757-5.10530515-5.57536492-5.8447096"/>
    <path d="M29.2871477 22.37835782c-.33043717-1.33880534-.48854519-2.74317183-.43013688-4.18226566.30671743-8.24672086 7.24250794-14.67917625 15.48924622-14.37254336.49356816.02229943.9842607.05854781 1.46641356.13622031-.04896328.3076214-.0678332.67917296-.03429951 1.1120272 1.18332339 17.05875144-12.938266 10.26331625-15.49474933 14.36418208-.59646539.96718401-.91570055 1.9554738-.99647405 2.94237943"/>
    <path fill="#231f20" d="m30.0314944 31.66235813-2.20043911-8.92447178c-.3760589-1.52281899-.53449317-3.07106952-.47306317-4.60241179.1628408-4.38357398 2.02632758-8.44597 5.24652937-11.43299168 3.21904817-2.98626241 7.40832081-4.54109466 11.79783068-4.37802726.66679998.03027443 1.1715671.07749883 1.64829264.15433937l1.48145997.23810251-.2375257 1.48108033c-.03565763.2164976-.0419007.47894298-.0208599.75897818.904776 13.04260453-6.9773809 13.7927658-11.68728 14.2406789-1.7697113.16861707-3.60035874.34261976-4.02961245 1.03186447-.44920962.72800596-.71095504 1.49465813-.77434162 2.27129243zm14.260252-26.3394973c-.00392438-.00031048-.00880522-.00081812-.0128282-.00065037-3.57705436-.13317721-7.00286715 1.1378283-9.63503115 3.57951544-2.39693505 2.22445355-3.87417212 5.17743656-4.21888263 8.3972955 1.30581771-.74784239 3.05617342-.91446707 4.87666483-1.08757216 4.95509305-.47164956 9.6356777-.91762911 8.99007715-10.88858841"/>
    <path fill="#f7941d" d="M29.2871477 22.37835782c-.33043717-1.33880534-.48854519-2.74317183-.43013688-4.18226566.30671743-8.24672086 7.24250794-14.67917625 15.48924622-14.37254336.49356816.02229943.9842607.05854781 1.46641356.13622031-.04896328.3076214-.0678332.67917296-.03429951 1.1120272 1.18332339 17.05875144-12.938266 10.26331625-15.49474933 14.36418208-.59646539.96718401-.91570055 1.9554738-.99647405 2.94237943" opacity=".75"/>
    <path fill="#231f20" d="M28.50647493 37.11069934c-1.0913094-.22497612-2.00652507-.77210681-2.57608024-1.63684695-1.4690008-2.23321981-.08304804-5.7494368 3.0906715-7.83868177 3.1758296-2.08980706 6.95138992-1.97154484 8.42240221.2615911 1.4690008 2.23321981.08304804 5.7494368-3.09067148 7.83868177-1.94501088 1.28013839-4.11706046 1.73174738-5.84632199 1.37525585m-2.36631776-1.77407863c1.39307326 2.11785737 5.01705098 2.20237771 8.07425444.18981957 3.05931353-2.01312024 4.41428047-5.37419517 3.01929431-7.49244688-1.39241257-2.11622552-5.01503949-2.2024616-8.07425443-.18981957-3.05931353 2.01312024-4.41332403 5.37439234-3.01929432 7.49244688"/>
    <path d="M23.40902088 26.80126918c-1.1803327-.71302396-2.28516902-1.59426178-3.26146112-2.6531557-5.61443027-6.0481942-5.25851859-15.50097154.78962817-21.1154739.36477347-.33323731.73737697-.65457787 1.13323328-.94058867.1828989.25214344.43228249.52821312.76206856.8105754 12.8990948 11.22562282-1.89147512 16.40599614-.79943178 21.11345287.26213766 1.1056671.73523072 2.03022684 1.37596289 2.78519"/>
    <path fill="#231f20" d="m30.4913246 32.83202487-7.85772026-4.74678766c-1.34152184-.810504-2.54892022-1.79277771-3.5888371-2.92000234-2.9845614-3.21520766-4.53977327-7.4050571-4.37489157-11.7936944.16468454-4.38768084 2.02817131-8.45007685 5.24665738-11.43844934.49382616-.45108734.88452808-.77436786 1.27479744-1.05685653L22.40396482 0l.87931583 1.20977969c.13375017.18312021.30971215.36945845.525046.55344377 9.86260723 8.58363595 4.81916776 14.68812544 1.80487868 18.33529873-1.13205057 1.37045707-2.30258421 2.7873226-2.11966143 3.5783401.19838496.8320948.55501364 1.5592124 1.05951221 2.15428678zM21.9591623 4.13101278c-.00365805.00323428-.0072175.00599033-.01087556.0092246-2.62273782 2.43465649-4.14601054 5.75604927-4.28040022 9.34382176-.12225202 3.2677135.92104157 6.40029971 2.95390958 8.921263.39411716-1.45228846 1.51410914-2.80778223 2.67923958-4.21778486 3.17006505-3.83691399 6.16488084-7.4621772-1.34187338-14.0565245"/>
    <path fill="#f7941d" d="M23.40902088 26.80126918c-1.1803327-.71302396-2.28516902-1.59426178-3.26146112-2.6531557-5.61443027-6.0481942-5.25851859-15.50097154.78962817-21.1154739.36477347-.33323731.73737697-.65457787 1.13323328-.94058867.1828989.25214344.43228249.52821312.76206856.8105754 12.8990948 11.22562282-1.89147512 16.40599614-.79943178 21.11345287.26213766 1.1056671.73523072 2.03022684 1.37596289 2.78519" opacity=".75"/>
    <path fill="#231f20" d="M30.29561885 38.43425708c-2.61875999-.53986383-4.12461811-4.00661383-3.35751065-7.7276824.76720606-3.7215468 3.52137606-6.31008149 6.14013605-5.77021765s4.1246181 4.00661383 3.35741206 7.72816062c-.76710747 3.72106857-3.52127747 6.30960327-6.14003746 5.76973943m2.73214872-13.25304886c-2.48390054-.51206223-5.10540373 1.98915579-5.84480818 5.57584314-.73930585 3.58620912.6792356 6.9202923 3.16313614 7.43235453s5.10540373-1.98915579 5.84470959-5.57536491c.73940444-3.58668735-.679137-6.92077054-3.16303755-7.43283276"/>
    <path d="M22.38002816 34.08520314c-1.33880535.33043718-2.74317183.4885452-4.18226566.43013689C9.95104164 34.2086226 3.51858625 27.27283209 3.82521914 19.0260938c.02229943-.49356816.05854781-.9842607.13622031-1.46641356.3076214.04896328.67917296.0678332 1.1120272.03429951 17.05875143-1.18332339 10.26331625 12.938266 14.36418208 15.49474933.96718401.59646539 1.9554738.91570054 2.94237943.99647405"/>
    <path fill="#231f20" d="M15.39854623 35.68425436c-3.31983781-.68439276-6.34077465-2.37854811-8.69434763-4.91577062-2.98674063-3.21914676-4.54089748-7.40927726-4.37792867-11.7983089.02940186-.66498567.07662626-1.1697528.15338292-1.64848981l.2380878-1.47897026 1.47898497.2355981c.22109738.03511023.47788794.04218173.76252293.02059355 13.03839909-.9061415 13.79228758 6.97728231 14.24010209 11.68765964.16861707 1.7697113.34271835 3.5998805 1.03186447 4.02961245.7271481.44853421 1.48987587.70996917 2.27129242.77434161l9.15841593.74934415-8.9212228 2.20160745c-1.52224217.37567927-3.07068988.53506998-4.6023132.47258494-.9291615-.034506-1.84551697-.1456413-2.73884123-.3298023M5.32467513 19.0807806c-.00078869.0038258-.00062094.00784877-.00045319.01187174-.13337438 3.57801082 1.13763114 7.00382361 3.57941686 9.63550938 2.22483319 2.39751186 5.17926559 3.87255498 8.39709833 4.21983908-.7478424-1.30581771-.91436849-3.05665164-1.08747358-4.87714305-.47212778-4.95519163-.91428154-9.6349876-10.88858841-8.99007715"/>
    <path fill="#f7941d" d="M22.38002816 34.08520314c-1.33880535.33043718-2.74317183.4885452-4.18226566.43013689C9.95104164 34.2086226 3.51858625 27.27283209 3.82521914 19.0260938c.02229943-.49356816.05854781-.9842607.13622031-1.46641356.3076214.04896328.67917296.0678332 1.1120272.03429951 17.05875143-1.18332339 10.26331625 12.938266 14.36418208 15.49474933.96718401.59646539 1.9554738.91570054 2.94237943.99647405" opacity=".75"/>
    <path fill="#231f20" d="M32.46235197 37.92621315c-1.72830508-.35629435-3.54465183-1.63012109-4.82479022-3.57513196-2.0896246-3.17429634-1.97192449-6.95196674.26053605-8.42212117 2.2346692-1.47119476 5.7514483-.08313192 7.83916 3.09077007 2.08866815 3.17409917 1.97096803 6.95176957-.2614925 8.421924-.8650212.56850013-1.92114748.70973236-3.01341333.48455906m-1.59756088-12.2406735c-1.02818371-.21196261-2.01942005-.08078496-2.82830798.45242357-2.119011 1.39383254-2.20381239 5.01675522-.19011533 8.07568911 2.01379564 3.05845567 5.37506774 4.41246616 7.4910122 3.01899856 2.119011-1.39383254 2.2038124-5.01675522.19011534-8.07568912-1.24273672-1.88943972-3.00135065-3.12892998-4.66270423-3.47142212"/>
    <path fill="#fdedd2" d="M30.85667894 35.71267872c-2.2208768-.45783923-3.65514811-2.63703587-3.19740747-4.85743445.45783924-2.2208768 2.63703588-3.65514812 4.85791268-3.19730888s3.65514812 2.63703587 3.19730889 4.85791268c-.45774065 2.22039858-2.63693729 3.65466989-4.8578141 3.19683065m1.2566918-6.09593382c-1.1410448-.2352292-2.26015913.5017462-2.49528975 1.64231278-.23513061 1.14056658.50136657 2.25958232 1.64241137 2.49481153 1.1410448.2352292 2.26006054-.50126798 2.49519116-1.64183456s-.50126798-2.26006054-1.64231278-2.49528975"/>
    <circle cx="31.68701059" cy="31.68534026" r="3.1121008" fill="#c05c56"/>
    <path fill="#292529" d="M30.9576323 35.22297634c-1.95115792-.40223602-3.21079588-2.31609903-2.80865845-4.26677872.40213744-1.9506797 2.31609903-3.21079587 4.26725695-2.80855985s3.21069729 2.31657725 2.80855986 4.26725694-2.31600045 3.21031765-4.26715836 2.80808163m1.2566918-6.09593382c-1.4107637-.29083241-2.79511307.62029812-3.08594549 2.0310618-.29073383 1.41028547.6203967 2.79463485 2.0311604 3.08546726s2.79511306-.6202981 3.08584689-2.03058357c.29083241-1.4107637-.62029812-2.79511307-2.0310618-3.08594549"/>
  </g>
</svg>

    <div class="filter-by-wrap">
      <RegionFilter
        client:load
        wineRegions={wineRegions}
        adminRegions={adminRegions}
        departments={departments}
        towns={towns}
      />
    </div>

    <div class="filters-bar">
      <div class="filter-group">
        <h2 class="filter-label">Categories</h2>
        <div class="filter-buttons" id="category-filters">
          <button
            class="filter-btn active"
            data-filter="all"
            style="--btn-color: var(--color-elegant-black)"
          >
            All
          </button>
          {categories.map((cat) => (
            <button
              class="filter-btn"
              data-filter={cat.slug}
              style={`--btn-color: ${cat.color}`}
            >
              {cat.name}
            </button>
          ))}
        </div>
      </div>

    </div>


    <div class="places-grid" id="places-grid">
      {places.map((place) => (
        <PlaceCard place={place} />
      ))}
    </div>
  </main>
</Layout>

<script>
  document.addEventListener('astro:page-load', () => {
    const catButtons = document.querySelectorAll<HTMLButtonElement>('#category-filters .filter-btn');
    const cards = document.querySelectorAll<HTMLElement>('.place-card');

    let activeCategory = 'all';
    let activeWineRegion: string | null = null;
    let activeAdminRegion: string | null = null;
    let activeDept: string | null = null;
    let activeTown: string | null = null;

    function applyFilters() {
      cards.forEach((card) => {
        const matchCat = activeCategory === 'all' || card.dataset.category === activeCategory;
        const matchWine = !activeWineRegion || card.dataset.wineRegion === activeWineRegion;
        const matchAdmin = !activeAdminRegion || card.dataset.adminRegion === activeAdminRegion;
        const matchDept = !activeDept || card.dataset.dept === activeDept;
        const matchTown = !activeTown || card.dataset.town === activeTown;
        card.style.display = (matchCat && matchWine && matchAdmin && matchDept && matchTown) ? '' : 'none';
      });
    }

    catButtons.forEach((btn) => {
      btn.addEventListener('click', () => {
        activeCategory = btn.dataset.filter ?? 'all';
        catButtons.forEach((b) => b.classList.remove('active'));
        btn.classList.add('active');
        applyFilters();
      });
    });

    // Region filter events from RegionFilter React component
    document.addEventListener('region-filter', (e) => {
      const { wine, admin, dept, town } = (e as CustomEvent).detail;
      activeWineRegion = wine;
      activeAdminRegion = admin;
      activeDept = dept;
      activeTown = town;
      applyFilters();
    });
  });
</script>

<style>
  .directory {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-sand);
    position: relative;
  }

  #flower {
    width: 25px;
    height: auto;
    display: block;
    position: relative;
    margin: 6vh auto 0;
  }

  .filters-bar {
    padding: var(--space-md) var(--space-lg);
  }

  .filter-group {
    display: flex;
      flex-direction: column;
      align-items: center;
  }

  .filter-label {
    font-family: var(--font-heading);
    font-size:clamp(2.1rem, 4vw, 3rem);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: var(--color-elegant-black);
    text-shadow: 1px 2px 4px #deb887;
    flex-shrink: 0;
  }


  .filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--space-sm);
  }

  .filter-btn {
    font-family: var(--font-label);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.6em 1em 0.2em;
    border-radius: 2px;
    border: 1px solid color-mix(in srgb, var(--btn-color) 40%, transparent);
    background-color: antiquewhite;
    color: var(--btn-color);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  }

  .filter-btn:hover {
    background-color: color-mix(in srgb, var(--btn-color) 10%, transparent);
    border-color: color-mix(in srgb, var(--btn-color) 70%, transparent);
  }

  .filter-btn.active {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    color: #fff;
  }

.places-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: var(--space-md);
    padding: var(--space-lg);
  }
.filter-by-wrap {
    padding: 0 var(--space-lg);
    position: relative;
  }

  .directory-map-link {
    position: absolute;
    left: var(--space-lg);
    top: -0.5em;
    z-index: 100;
    width: 120px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  .directory-map-link:hover {
    opacity: 1;
  }

  @media (max-width: 750px) {
    .directory-map-link {
      display: none;
    }
  }
  @media (max-width: 450px) {
    .places-grid {
      padding: var(--space-md);
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 365px) {
    .filter-by-wrap {
      padding: 0 var(--space-sm);
    }
  }

</style>
